<div class="fab-container">
    <a href="javascript:void(0);" class="fab-main" onclick="toggleButtons()"><i class="bi bi-chat-right-text fs-3 text-white"></i></a>
    <div class="fab-options">
        <a class="fab-option" href="mailto:deepvegetablesco@gmail.com" title="Email">
            <i class="bi bi-envelope-arrow-up fs-3"></i>
        </a>
        <a class="fab-option" href="tel:+919953393099" title="Call">
            <i class="bi bi-telephone-outbound fs-3"></i>
        </a>
        <a class="fab-option" href="https://wa.me/9953393099" target="_blank" title="WhatsApp">
            <i class="bi bi-whatsapp fs-3"></i>
        </a>
    </div>
</div>


<script src="/js/button.js"></script>