<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand ms-5 py-0" href="/home"><img id="header_logo" src="/img/DVC LOGO.png" alt=""></a>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav me-5">
                <a class="nav-link active px-4 fw-medium" aria-current="page" href="/home">Home</a>
                <a class="nav-link px-4 fw-medium" href="/aboutus">About us</a>
                <a class="nav-link px-4 fw-medium" href="/products">Our Products</a>
                <a class="nav-link  px-4 fw-medium" href="#contact">Contact Us</a>
            </div>
        </div>
    </div>
</nav>