<%- include("includes/header.ejs")  %>
<link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
    <header>
        <%-include("includes/navbar.ejs") %>
        <div class="hero">
            <h1>ABOUT US</h1>
        </div>
    </header>
    <main>
        <section id="about-us">
            <div class="about-txt">
                <h1 class="info-heading">About Us</h1>
                <p class="info-txt">At <strong>Deep Vegetables Company</strong>
                , we are passionate about bringing the freshest and highest quality vegetables and
                fruits
                from local farms to markets
                around the world. Founded in 2016, our company has grown to become a trusted name in the
                agricultural export industry.
                We pride ourselves on our commitment to sustainability, quality, and customer
                satisfaction.</p>
                <p class="info-txt">With a dedicated team of experts, we ensure that every product meets rigorous standards
                before it reaches our customers. From the fertile fields where our produce is grown to
                the
                careful handling and packaging processes, we focus on maintaining the integrity and
                freshness of our products.</p>
            </div>
        </section>
        <section id="vision-section">
            <div class="txt-card">
                <div class="vision-txt">
                    <h1 class="info-heading">Our Vision</h1>
                    <p class="info-txt">Our vision is to be the leading global supplier of premium vegetables and fruits,
                    known for
                    our commitment to
                    quality,
                    sustainability, and innovation. We aim to connect local farmers with international
                    markets,
                    promoting the rich
                    diversity
                    of agricultural products from our region. By fostering strong partnerships and
                    leveraging
                    advanced technology, we
                    strive
                    to create a sustainable and prosperous future for both our partners and the
                    communities we
                    serve.</p>
                </div>
                <div class="mission-txt mb-5">
                    <h1 class="info-heading">Our Mission</h1>
                    <p class="info-txt">Our mission is to deliver the freshest, highest quality vegetables and fruits to
                    customers
                    worldwide, while maintaining the highest standards of sustainability and ethical
                    business
                    practices. We are dedicated to supporting local farmers, investing in cutting-edge
                    technology,
                    and continuously improving our processes to ensure that our products exceed customer
                    expectations. Through transparency, innovation, and a customer-centric approach, we
                    aim to build
                    lasting relationships with our clients and contribute to the global food supply
                    chain.</p>
                </div>
            </div>
        </section>

    </main>
    
    <%- include("includes/dbtn.ejs") %>
    <%-include("includes/footer.ejs")  %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>
</html>
