<%- include("includes/header.ejs") %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <header>
            <%- include("includes/navbar.ejs") %>
                <div class="hero">
                    <h1>FRUITS</h1>
                    <hr class="custom-hr">
                </div>
        </header>
        <main>
            <section id="Our_Products">
                <div class="row products">
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s1.png" alt="fruits-img">
                        <h1 class="py-3">MANGOES</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s2.png" alt="fruits-img">
                        <h1 class="py-3">POMEGRANATE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s3.png" alt="fruits-img">
                        <h1 class="py-3">ORANGE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s4.png" alt="fruits-img">
                        <h1 class="py-3">MANDARIN</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s5.png" alt="fruits-img">
                        <h1 class="py-3">APPLE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s6.png" alt="fruits-img">
                        <h1 class="py-3">WATER MELON</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s7.png" alt="fruits-img">
                        <h1 class="py-3">MUSK MELON</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s8.png" alt="fruits-img">
                        <h1 class="py-3">CHERRY</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s9.png" alt="fruits-img">
                        <h1 class="py-3">PLUM</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s10.png" alt="fruits-img">
                        <h1 class="py-3">LITCHI</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s11.png" alt="fruits-img">
                        <h1 class="py-3">PEAR</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s12.png" alt="fruits-img">
                        <h1 class="py-3">GRAPES</h1>
                    </div>

                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s13.png" alt="fruits-img">
                        <h1 class="py-3">PINEAPPLE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s14.png" alt="fruits-img">
                        <h1 class="py-3">PAPAYA</h1>
                    </div>

                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s15.png" alt="fruits-img">
                        <h1 class="py-3">PEACH</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s16.png" alt="fruits-img">
                        <h1 class="py-3">SWEET LEMON</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s17.png" alt="fruits-img">
                        <h1 class="py-3">GOOSE BERRY</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s18.png" alt="fruits-img">
                        <h1 class="py-3">LEMON</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s19.png" alt="fruits-img">
                        <h1 class="py-3">GUAVA</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s20.png" alt="fruits-img">
                        <h1 class="py-3">JAMUN</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s21.png" alt="fruits-img">
                        <h1 class="py-3">BANANA</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s22.png" alt="fruits-img">
                        <h1 class="py-3">DATE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s23.png" alt="fruits-img">
                        <h1 class="py-3">BLACK BERRY</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s24.png" alt="fruits-img">
                        <h1 class="py-3">COCONUT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s25.png" alt="fruits-img">
                        <h1 class="py-3">STAR FRUIT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s26.png" alt="fruits-img">
                        <h1 class="py-3">AVOCADO</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s27.png" alt="fruits-img">
                        <h1 class="py-3">APRICOT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s28.png" alt="fruits-img">
                        <h1 class="py-3">CUSTARD APPLE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s29.png" alt="fruits-img">
                        <h1 class="py-3">FIGS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s30.png" alt="fruits-img">
                        <h1 class="py-3">INDIAN JUJUBES</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s31.png" alt="fruits-img">
                        <h1 class="py-3">TAMARIND</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/fruits/s32.png" alt="fruits-img">
                        <h1 class="py-3">SAPOTA</h1>
                    </div>

                </div>
            </section>
        </main>

        <%- include("includes/dbtn.ejs") %>
        <%- include("includes/footer.ejs") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
                crossorigin="anonymous"></script>
    </body>

    </html>