<%- include("includes/header.ejs") %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <header>
            <%- include("includes/navbar.ejs") %>
                <div class="hero">
                    <h1>GRAINS</h1>
                    <hr class="custom-hr">
                </div>
        </header>
        <main>
            <section id="Our_Products">
                <div class="row products">
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s1.png" alt="Grains-img">
                        <h1 class="py-3">AMARANTH</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s2.png" alt="Grains-img">
                        <h1 class="py-3">BARLEY</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s3.png" alt="Grains-img">
                        <h1 class="py-3">BUCKWHEAT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s4.png" alt="Grains-img">
                        <h1 class="py-3">BULGUR</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s5.png" alt="Grains-img">
                        <h1 class="py-3">CORN</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s6.png" alt="Grains-img">
                        <h1 class="py-3">EINKORN</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s7.png" alt="Grains-img">
                        <h1 class="py-3">FARRO/ EMMER</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s8.png" alt="Grains-img">
                        <h1 class="py-3">FONIO</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s9.png" alt="Grains-img">
                        <h1 class="py-3">MAKUT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s10.png" alt="Grains-img">
                        <h1 class="py-3">FREEKEH</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s11.png" alt="Grains-img">
                        <h1 class="py-3">KANIWA</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s12.png" alt="Grains-img">
                        <h1 class="py-3">MILLET</h1>
                    </div>

                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s13.png" alt="Grains-img">
                        <h1 class="py-3">OTS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s14.png" alt="Grains-img">
                        <h1 class="py-3">QUINDA</h1>
                    </div>

                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s15.png" alt="Grains-img">
                        <h1 class="py-3">RICE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s16.png" alt="Grains-img">
                        <h1 class="py-3">RYE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s17.png" alt="Grains-img">
                        <h1 class="py-3">SORGHUM/ MILO</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s18.png" alt="Grains-img">
                        <h1 class="py-3">SPELT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s19.png" alt="Grains-img">
                        <h1 class="py-3">TEFF</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s20.png" alt="Grains-img">
                        <h1 class="py-3">TRITICALE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s21.png" alt="Grains-img">
                        <h1 class="py-3">WHEAT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s22.png" alt="Grains-img">
                        <h1 class="py-3">WILD RICE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s23.png" alt="Grains-img">
                        <h1 class="py-3">MAIZE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s24.png" alt="Grains-img">
                        <h1 class="py-3">TEA</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s25.png" alt="Grains-img">
                        <h1 class="py-3">COFFEE</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s26.png" alt="Grains-img">
                        <h1 class="py-3">BUCKWHEAT GRAINS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s27.png" alt="Grains-img">
                        <h1 class="py-3">PEARL MILLET</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s28.png" alt="Grains-img">
                        <h1 class="py-3">FINGER MILLET</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s29.png" alt="Grains-img">
                        <h1 class="py-3">BARNYARD MILLED</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/grains/s30.png" alt="Grains-img">
                        <h1 class="py-3">KADO MILLET</h1>
                    </div>

                </div>
            </section>
        </main>

        <%- include("includes/dbtn.ejs") %>
        <%- include("includes/footer.ejs") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
                crossorigin="anonymous"></script>
    </body>

    </html>