<%- include("includes/header.ejs") %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <header>
            <%- include("includes/navbar.ejs") %>
                <div class="hero">
                    <h1>SPICES</h1>
                    <hr class="custom-hr">
                </div>
        </header>
        <main>
            <section id="Our_Products">
                <div class="row products">
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s1.png" alt="Spices-img">
                        <h1 class="py-3">TURMERIC</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s2.png" alt="Spices-img">
                        <h1 class="py-3">CUMIN</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s3.png" alt="Spices-img">
                        <h1 class="py-3">GREEN CARDAMOM</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s4.png" alt="Spices-img">
                        <h1 class="py-3">CORIANDER</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s5.png" alt="Spices-img">
                        <h1 class="py-3">GARAM MASALA</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s6.png" alt="Spices-img">
                        <h1 class="py-3">BLACK CARDAMOM</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s7.png" alt="Spices-img">
                        <h1 class="py-3">ASAFOETIDA</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s8.png" alt="Spices-img">
                        <h1 class="py-3">FENUGREEK SEED</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s9.png" alt="Spices-img">
                        <h1 class="py-3">DRY MANGO POWDER</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s10.png" alt="Spices-img">
                        <h1 class="py-3">INDIAN BAY LEAF</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s11.png" alt="Spices-img">
                        <h1 class="py-3">CINNAMON/ CASSIA BARK</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s12.png" alt="Spices-img">
                        <h1 class="py-3">FENNEL</h1>
                    </div>

                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s13.png" alt="Spices-img">
                        <h1 class="py-3">BLACK PEPPER</h1>
                    </div><div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s14.png" alt="Spices-img">
                        <h1 class="py-3">RED CHILI POWDER</h1>
                    </div>

                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s15.png" alt="Spices-img">
                        <h1 class="py-3">CURRY LEAVES</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s16.png" alt="Spices-img">
                        <h1 class="py-3">DRY RED CHILI</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s17.png" alt="Spices-img">
                        <h1 class="py-3">BESIL SEED</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s18.png" alt="Spices-img">
                        <h1 class="py-3">DRY BESIL LEAF</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s19.png" alt="Spices-img">
                        <h1 class="py-3">BIG MUSTARD SEED</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s20.png" alt="Spices-img">
                        <h1 class="py-3">BLACK SALT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s21.png" alt="Spices-img">
                        <h1 class="py-3">CARAWAY SEED</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s22.png" alt="Spices-img">
                        <h1 class="py-3">DRY GINGER</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s23.png" alt="Spices-img">
                        <h1 class="py-3">DRY FENUGREEK LEAVES</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s24.png" alt="Spices-img">
                        <h1 class="py-3">GARLIC</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s25.png" alt="Spices-img">
                        <h1 class="py-3">MINT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s26.png" alt="Spices-img">
                        <h1 class="py-3">ONION SEED NEGELLA</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s27.png" alt="Spices-img">
                        <h1 class="py-3">RAISINS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s28.png" alt="Spices-img">
                        <h1 class="py-3">ROCK SALT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s29.png" alt="Spices-img">
                        <h1 class="py-3">SESAME SEED</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s30.png" alt="Spices-img">
                        <h1 class="py-3">SAFFORN</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s31.png" alt="Spices-img">
                        <h1 class="py-3">SCREWPINE PANDANUS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s32.png" alt="Spices-img">
                        <h1 class="py-3">SAULTANAS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/spices/s33.png" alt="Spices-img">
                        <h1 class="py-3">SICHUAN PEPPER</h1>
                    </div>
                </div>
            </section>
        </main>

        <%- include("includes/dbtn.ejs") %>
        <%- include("includes/footer.ejs") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
                crossorigin="anonymous"></script>
    </body>

    </html>