<%- include("includes/header.ejs") %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <header>
            <%- include("includes/navbar.ejs") %>
                <div class="hero">
                    <h1>VEGETABLES</h1>
                    <hr class="custom-hr">
                </div>
        </header>
        <main>
            <section id="Our_Products">
                <div class="row products">
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s1.png" alt="vegetables-img">
                        <h1 class="py-3">POTATOES</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s2.png" alt="vegetables-img">
                        <h1 class="py-3">ONION</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s3.png" alt="vegetables-img">
                        <h1 class="py-3">TOMATOES</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s4.png" alt="vegetables-img">
                        <h1 class="py-3">CHILLI</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s5.png" alt="vegetables-img">
                        <h1 class="py-3">BEETROOT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s6.png" alt="vegetables-img">
                        <h1 class="py-3">YAM</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s7.png" alt="vegetables-img">
                        <h1 class="py-3">GARLIC</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s8.png" alt="vegetables-img">
                        <h1 class="py-3">FRENCH BEANS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s9.png" alt="vegetables-img">
                        <h1 class="py-3">LADY FINGER</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s10.png" alt="vegetables-img">
                        <h1 class="py-3">GREEN PEAS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s11.png" alt="vegetables-img">
                        <h1 class="py-3">JACK FRUIT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s12.png" alt="vegetables-img">
                        <h1 class="py-3">CAULI FLOWER</h1>
                    </div>

                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s13.png" alt="vegetables-img">
                        <h1 class="py-3">GINGER</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s14.png" alt="vegetables-img">
                        <h1 class="py-3">DRUMSTICK</h1>
                    </div>

                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s15.png" alt="vegetables-img">
                        <h1 class="py-3">CUCUMBER</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s16.png" alt="vegetables-img">
                        <h1 class="py-3">PUMPKIN</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s17.png" alt="vegetables-img">
                        <h1 class="py-3">SWEET POTATO</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s18.png" alt="vegetables-img">
                        <h1 class="py-3">SPINACH</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s19.png" alt="vegetables-img">
                        <h1 class="py-3">TURNIP</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s20.png" alt="vegetables-img">
                        <h1 class="py-3">MUSHROOM</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s21.png" alt="vegetables-img">
                        <h1 class="py-3">CLUSTER BEANS</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s22.png" alt="vegetables-img">
                        <h1 class="py-3">AMARANTH LEAVES</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s23.png" alt="vegetables-img">
                        <h1 class="py-3">CURRY LEAVES BRINJAL</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s24.png" alt="vegetables-img">
                        <h1 class="py-3">RADISH</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s25.png" alt="vegetables-img">
                        <h1 class="py-3">ASH GOURD</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s26.png" alt="vegetables-img">
                        <h1 class="py-3">BITTER GOURD</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s27.png" alt="vegetables-img">
                        <h1 class="py-3">SNAKE GOURD</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s28.png" alt="vegetables-img">
                        <h1 class="py-3">BOTTLE GOURD</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s29.png" alt="vegetables-img">
                        <h1 class="py-3">SPONGE GOURD</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s30.png" alt="vegetables-img">
                        <h1 class="py-3">CARROT</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s31.png" alt="vegetables-img">
                        <h1 class="py-3">RAW PAPAYA</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s32.png" alt="vegetables-img">
                        <h1 class="py-3">TENDLI</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s33.png" alt="vegetables-img">
                        <h1 class="py-3">GREEN CAPSICUM</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s33.png" alt="vegetables-img">
                        <h1 class="py-3">APPLE GOURD</h1>
                    </div>
                    <div class="col-10 col-lg-3 product">
                        <img src="/img/veggies/s35.png" alt="vegetables-img">
                        <h1 class="py-3">ELEPHANT FOOT YAM</h1>
                    </div>
                </div>
            </section>
        </main>

        <%- include("includes/dbtn.ejs") %>
        <%- include("includes/footer.ejs") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
                crossorigin="anonymous"></script>
    </body>

    </html>