.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


.navbar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white !important;
}

.nav-link:hover {
    color: black !important;
    border-bottom: 2px solid green;
    background-color: rgb(190, 226, 190);
    transition: ease;
}

#header_logo {
    width: 100px;
}



.fab-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    z-index: 999;
}

.fab-main {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #007bff;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    line-height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.fab-options {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.fab-option {
    width: 50px;
    height: 50px;
    background: #49d66a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}