* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/about-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;


}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 82%;
}

.hero>h1 {
    font-family: "Teko", sans-serif;
    font-size: clamp(4rem, 8vw, 6rem);
    color: aliceblue;
}

#Our_Products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/paper-texture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.custom-hr {
    height: 5px;
    width: 40%;
    background: #ffffff;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid gray;
    margin: 40px;
}

.product>img {
    width: 100%;
}

.product>h1 {
    font-family: "Teko", sans-serif;
    font-size: clamp(2.5rem, 4vw, 3rem);
}

.product>a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid green;
    color: #95BD43;
    font-family: "Teko", sans-serif;
    letter-spacing: 2px;
    font-size: larger;
    font-weight: 600;
    transition: all 0.3s ease;
}

.product>a:hover {
    border: none;
    background-color: #95BD43;
    color: rgb(255, 255, 255);
    padding-left: 18px;
    padding-right: 18px;
}

@media (max-width: 992px) {
    .products {
        justify-content: center;
    }
}